<template>
     <div>
          <div class="content-wrapper">
     <!-- Content Header (Page header) -->
               <div class="content-header">
                    <div class="container-fluid">
                    <div class="row mb-2">
                         <div class="col-sm-6">
                         <h5 class="m-0 text-dark">Category Information</h5>
                         </div><!-- /.col -->
                    </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
               </div>
               <!-- /.content-header -->

     <!-- Main content -->
     <section class="content">
          <div class="container-fluid">
          
     <div class="card">
               <div class="card-header">
                    <button type="button" @click="newCategory" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i> <b>Add</b>
                    </button>

                    <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                         <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                         <div class="input-group-append">
                         <button type="submit" class="btn btn-success">
                         <i class="fas fa-search"></i>
                         </button>
                         </div>
                    </div>
                    </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                    <thead>
                         <tr>
                         <th>ID</th>
                         <th>Category Name</th>
                         <th>Description</th>
                         <th>Create_At</th>
                         <th>Updated_At</th>
                         <th>Action</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr v-for="cat in categories.data" :key="cat.id">
                         <td>{{cat.id}}</td>
                         <td>{{cat.name}}</td>
                         <td>{{cat.description}}</td>
                         <td>{{cat.created_at}}</td>
                         <td>{{cat.updated_at}}</td>     
                         <td>
                            <div class="btn-group">
                              <button type="button" @click="infoCategory(cat)" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-user-edit"></i>
                              </button>
                            </div>
                            &nbsp;
                            <div class="btn-group">
                              <button type="button" @click="deleteCategory(cat.id)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </div>
                         </td>
                         </tr> 
                    </tbody>
                    </table>
               </div>
               <!-- /.card-body -->
                 <div class="card-footer">
                    <pagination :data="categories" 
                    align="right" size="small" :limit="7"
                            @pagination-change-page="getCategory" >
                    </pagination>
                  </div>
               </div>
               
          </div>
          <!-- /.container-fluid -->
          </section>
          <!-- /.content -->
          </div>
     <!-- /.content-wrapper -->
     <!-- modal alert -->
        <div class="modal fade " id="modal-category" >
        <div class="modal-dialog">
          <div class="modal-content">
            <form @submit.prevent=" method ? editCategory() : createCategory()" role="form" method="post">
            <div class="modal-header">
              <h5 class="modal-title">Add Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    <label>Category Name</label>
                    <div class="input-group">
                         <div class="input-group-prepend">
                         <span class="input-group-text"> <i class="nav-icon fas fa-cart-arrow-down"></i></span>
                         </div>
                         <input type="text" class="form-control" 
                         v-model="form.name"
                         data-inputmask="&quot;mask&quot;: 
                         &quot;(999) 999-9999&quot;" data-mask=""
                         name="name" id="name" autofocus required autocomplete="off">
                    </div>
                </div>
                 <div class="form-group">
                    <label>Description (Optional)</label>
                    <div class="input-group">
                         <div class="input-group-prepend">
                         <span class="input-group-text"><i class="fas fa-file-word"></i></span>
                         </div>
                         <input type="text" class="form-control" 
                         v-model="form.description"
                         data-inputmask="&quot;mask&quot;: 
                         &quot;(999) 999-9999&quot;" data-mask=""
                         name="description" id="description" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-right">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-backspace"></i>&nbsp; Close</button>
              <button type="submit"  class="btn btn-primary"><i class="far fa-save"></i>&nbsp; Save </button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        </div>
     </div>
</template>

<script>
     export default {
          props: ['token'],
         data(){
          return{
               method : false,
               categories:{},
               form: new Form({
                    id:"",
                    name:"",
                    description:"",
                    _token:this.token.value,
               })
            }
         },
         //end data

         mounted(){
              this.getCategory();
              Fire.$on('onCreated',(page = 1)=>{
                   this.getCategory(page);
              })
         },
         //end mounted
         
          methods:{
               //show form modal
               newCategory(){
                   this.method = false;
                    this.form.reset();
                    $('#modal-category').modal('show');
               },
               //insert category to database
               createCategory(){
                     this.form.post('/backend/category/index')
                .then(response =>{
                  Fire.$emit('onCreated',1);
                  $('#modal-category').modal('hide');
                  console.log(response.data);
                })
                .catch(error => console.log(error));
                 Vue.swal({
                  position: "top-end",
                  icon: "success",
                  title: "Category created Successfully ",
                  showConfirmButton: false,
                  timer: 1500,
                });
                    // this.form.post('/backend/category/index/')
                    // .then(res => {
                    //      Fire.$emit('onCreated',1);
                    //      $('#modal-category').modal('hide');
                    //      console.log(res.data);
                    // })
                    // .catch(error => console.log(error));
               },
               editCategory(){
                     this.form
              .put("/backend/category/index/" + this.form.id)
              .then((response) => {
                Fire.$emit("onCreated", this.categories.current_page); //event create
                $("#modal-category").modal("hide");
                console.log(response);
              })
              .catch((error) => console.log(error));
            Vue.swal({
              position: "top-end",
              icon: "success",
              title: "Category updated Successfully ",
              showConfirmButton: false,
              timer: 1500,
            });
                    // this.form.put('/backend/category/index/'+ this.form.id)
                    // .then(response =>{
                    //      Fire.$emit('onCreated', this.categories.current_page);
                    //      $('#modal-category').modal('hide');
                    //      console.log(response);
                    // })
                    // .catch(error=>console.log(error));
               },
               //show category from database with pagination
               getCategory(page = 1){
                    axios.get('/backend/category/index/get/all?page=' + page)
                    .then(response =>{
                         this.categories = response.data;
                         console.log(response.data);
                    })
                    .catch(error => console.log(error));
               },
               //show data from modal pop-up
               infoCategory(cat){
                    this.method=true;
                    this.form.reset();
                    this.form.fill(cat);
                    this.form._token=this.token.value;
                    $('#modal-category').modal('show');
               },
               deleteCategory(id){
               Vue.swal({
                    title: "Are you sure?",
                    text: "You want to delete this!",
                    icon: "warning",
                    confirmButtonText: "Yes",
                    cancelButtonColor: "#d33",
                    confirmButtonColor: "#3085d6",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                this.form
                    .delete("/backend/category/index/" + id)
                    .then(() => {
                    Vue.swal(
                        "Deleted!",
                        "Your category has been deleted.",
                        "success"
                    );
                    Fire.$emit("onCreated", this.categories.current_page);
                    })
                    .catch((err) => console.log(err));
                }
            });
          }
          }
          //end method
     }
</script>