<template>
   <div>
        <!-- content wrapper-->
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h5 class="m-0 text-dark">Customer Information</h5>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            
        <div class="card">
                  <div class="card-header">
                  <button type="button" @click="newCustomer" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i> <b>Add</b>
                  </button>

                    <div class="card-tools">
                      <div class="input-group input-group-sm" style="width: 200px; hight:20px">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Gender</th>
                          <th>Phone</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>Create_At</th>
                          <th>Updated_At</th>
                          <th>Action</th>
                        
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="cus in customers.data" :key="cus.id">
                          <td>{{cus.id}}</td>
                          <td>{{cus.name}}</td>
                          <td v-show="cus.gender==1">male</td>
                          <td v-show="cus.gender==0">female</td>
                          <td>{{cus.phone}}</td>
                          <td>{{cus.email}}</td>
                          <td>{{cus.address}}</td>
                          <td>{{cus.created_at}}</td>
                          <td>{{cus.updated_at}}</td>
                          <td>
                            <div class="btn-group">
                              <button type="button" @click="infoCustomer(cus)" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-user-edit"></i>
                              </button>
                            </div>
                            &nbsp;
                            <div class="btn-group">
                              <button type="button" @click="deleteCustomer(cus.id)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
      
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <pagination :data="customers" 
                    align="right" size="small" :limit="7"
                            @pagination-change-page="getCustomer" >
                    </pagination>
                  </div>
        </div>
            
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <div class="modal fade" id="modal-customer">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <form @submit.prevent="method ? editCustomer() : createCustomer()" role="form" method="post">
                <div class="modal-header">
                <h5 class="modal-title">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <label>Customer Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-user-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" 
                              v-model="form.name"
                            data-inputmask="&quot;mask&quot;: 
                        &quot;(999) 999-9999&quot;" data-mask=""
                        name="name" id="name" autofocus required autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-transgender-alt"></i></span>
                        </div>
                        <select class="form-control" 
                        v-model="form.gender"
                        name="gender" id="gender">
                            <option value="1">male</option>
                            <br>
                            <option value="0">female</option>
                        </select>
                    </div>
                  </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" 
                            v-model="form.phone"
                        data-inputmask="&quot;mask&quot;: 
                        &quot;(999) 999-9999&quot;" data-mask=""
                        name="phone" id="phone" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="text" class="form-control" 
                            v-model="form.email"
                        data-inputmask="&quot;mask&quot;: 
                        &quot;(999) 999-9999&quot;" data-mask=""
                        name="email" id="email"
                        autofocus required autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" 
                            v-model="form.address"
                        data-inputmask="&quot;mask&quot;: 
                        &quot;(999) 999-9999&quot;" data-mask=""
                        name="address" id="address"
                        required autofocus
                        autocomplete="off">
                    </div>
                </div>  
                </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-backspace"></i>&nbsp; Close</button>
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp; Save</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
   
   </div>
</template>

<script>
    export default {
      props: ['token'],
      data(){
        return {
          method:false,
          customers:{},
            form: new Form({
                id:"",
                name:"",
                gender:"1",
                phone:"",
                email:"",
                address:"",
                _token:this.token.value
            })
        }
      },
      //end data

      mounted(){
        this.getCustomer();
        Fire.$on('onCreated', (page = 1)=>{
            this.getCustomer(page);
        })
      },
      //end mounted
       methods:{
           newCustomer(){
             this.method = false;
             this.form.reset();
               $('#modal-customer').modal('show');
           },
          createCustomer(){
                this.form.post('/backend/customers/index')
                .then(response =>{
                  Fire.$emit('onCreated',1);
                  $('#modal-customer').modal('hide');
                  console.log(response.data);
                })
                .catch(error => console.log(error));
                 Vue.swal({
                  position: "top-end",
                  icon: "success",
                  title: "Customer created Successfully ",
                  showConfirmButton: false,
                  timer: 1500,
                });
          },
          infoCustomer(cus){
            this.method = true;
              this.form.reset();
              this.form.fill(cus);
              this.form._token=this.token.value;
              $('#modal-customer').modal('show');
          },
           editCustomer() {
              this.form
              .put("/backend/customers/index/" + this.form.id)
              .then((response) => {
                Fire.$emit("onCreated", this.customers.current_page); //event create
                $("#modal-customer").modal("hide");
                console.log(response);
              })
              .catch((error) => console.log(error));
            Vue.swal({
              position: "top-end",
              icon: "success",
              title: "Customer updated Successfully ",
              showConfirmButton: false,
              timer: 1500,
            });
        },

          getCustomer(page = 1){
            axios.get('/backend/customers/index/get/all?page=' + page)
            .then(response=>{
              this.customers=response.data;
              console.log(response.data);
            })
            .catch(error=>console.log(error));
          },
          deleteCustomer(id){
             Vue.swal({
                    title: "Are you sure?",
                    text: "You want to delete this!",
                    icon: "warning",
                    confirmButtonText: "Yes",
                    cancelButtonColor: "#d33",
                    confirmButtonColor: "#3085d6",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                this.form
                    .delete("/backend/customers/index/" + id)
                    .then(() => {
                    Vue.swal(
                        "Deleted!",
                        "Your customer has been deleted.",
                        "success"
                    );
                    Fire.$emit("onCreated", this.customers.current_page);
                    })
                    .catch((err) => console.log(err));
                }
            });
          }

       }
    }
    //end methoed
</script>

<style scoped>
    .pagination.pagination-sm {
      margin-bottom: 0px !important;
    }
</style>
