<template>
     <div>
           <!-- content wrapper-->
  <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <div class="content-header">
       <div class="container-fluid">
         <div class="row mb-2">
           <div class="col-sm-6">
             <h1 class="m-0 text-dark">Dashboard</h1>
           </div><!-- /.col -->
         </div><!-- /.row -->
       </div><!-- /.container-fluid -->
     </div>
     <!-- /.content-header -->
 
     <!-- Main content -->
     <section class="content">
       <div class="container-fluid">
          This Is Post
       </div><!-- /.container-fluid -->
     </section>
     <!-- /.content -->
  </div>
   <!-- /.content-wrapper -->
     </div>
</template>

<script>
export default {
     
}
</script>